<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>685626423223-vf04bks15abfen0m4fi2rmvlr2fnv9bi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.685626423223-vf04bks15abfen0m4fi2rmvlr2fnv9bi</string>
	<key>API_KEY</key>
	<string>AIzaSyBPsDe2EvpcmepFvXNUtngTjuL0NfTabbw</string>
	<key>GCM_SENDER_ID</key>
	<string>685626423223</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApp</string>
	<key>PROJECT_ID</key>
	<string>flutter-chat-app-82d18</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-chat-app-82d18.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:685626423223:ios:3f28b3dce957511385da32</string>
	<key>DATABASE_URL</key>
	<string>https://flutter-chat-app-82d18-default-rtdb.firebaseio.com</string>
</dict>
</plist>